html
    head
        title= title
    style
        include main.css
    body
        include login_buttons.pug
        h1= message
        
        form(action="/change_password_form", method="post")
            input(type="hidden", name="_csrf", value=csrfToken)
            label(for="password") New Password:
            input(id="password", type="text", name="password", required)
            input(type="submit", value="Zmień hasło")
