doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Solve the quiz!
  meta(name='viewport' content='width=device-width, initial-scale=1')
  style
    include main.css
    include index.css
  //link(rel='stylesheet' type='text/css' media='screen' href='main.css')
  //link(rel='stylesheet' type='text/css' media='screen' href='index.css')
if error
span= error
include login_buttons
#root
  #header
    h1
      | Solve the Quiz!
  #select_quiz
    h2
      | Select the Quiz:
    a.quiz_button#runQuiz1(href='./quiz?quiz_id=1') Quiz 1
    a.quiz_button(href='./quiz?quiz_id=2') Quiz 2
    a.quiz_button(href='./my_results') My results
  #end
    footer
      p Autor: Wojciech Szyma&nacute;ski
