html
    head
        title= title
    style
        include main.css
    body
        include login_buttons.pug
        h1= message
        
        form(action="/loginform", method="post")
            input(type="hidden", name="_csrf", value=csrfToken)
            label(for="login") Login:
            input(id="login", type="text", name="login", required)
            label(for="password") Password:
            input(id="password", type="text", name="password", required)
            input(type="submit", value="Log in", id="loginButton")
