#login_buttons
    if (user)
        a(href="/logout", style="float: none", id="logOutButton").quiz_button Wyloguj się
        a(href="/change_password", style="float: none", id='changePasswordButton').quiz_button Zmień hasło
    else
        a(href="/login", style="float: none", id="LogInButton").quiz_button Zaloguj się
    