.quiz_button {
    min-width: 100px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    background-color: cornsilk;
    line-height: 40px;
    margin-right: 10px;
    margin-left: 3px;
    float: left;
    border: solid 1px;
    cursor: pointer;
}

.quiz_button:disabled {
    background-color: darkkhaki;
    cursor: default;
}

.hidden {
    display: none;
}

#root {
    max-width: 1080px;
    margin: auto;
}

body {
    background-color: blanchedalmond;
    margin: 25px;
}

a, a:visited {
    color: black;
    text-decoration: none;
}

* {
    font-family: "Dejavu serif", sans-serif;
    text-decoration-color: black;
    color: black;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}