doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Solve the quiz!
  meta(name='viewport' content='width=device-width, initial-scale=1')
  style
    include main.css
    include quiz.css
include login_buttons
#root
  #header
    h1
      | Solve the Quiz!
  #select_quiz.clearfix
    h2
      | My results:
    - console.log(quizzes)
    if quizzes.length > 0
      for x in quizzes
        a.quiz_button(href='./statistics/' + x.quiz_id)= "Quiz " + x.quiz_id
    else
      span No results.
  br
  #back.clearfix
    a.quiz_button(href='/') Main menu
  #end
    footer
      p Autor: Wojciech Szyma&nacute;ski
