ol {
    padding: 0px;
}

li {
    margin-top: 10px;
    border: solid;
    list-style-position: inside;
    border-color: black;
    padding: 7px;
    font-size: large;
}

.correct {
    background-color: green;
    color: blanchedalmond;
}

.wrong {
    background-color: red;
}

#grid_container {
    max-width: 1080px;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 15px;
}

#root {
    grid-area: root;
    width: 100%;
}

#side {
    grid-area: side;
}

@media only screen and (max-width: 650px) {
    #grid_container {
        grid-template-columns: 100%;
        grid-template-areas: 
            "root";
    }
    .nophone {
        display: none;
    }
}

@media only screen and (min-width: 650px) {
    #grid_container {
        grid-template-columns: 1fr 150px;
        grid-template-areas: 
            "root side";
    }
}