doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Solve the quiz!
  meta(name='viewport' content='width=device-width, initial-scale=1')
  style
    include main.css
    include quiz.css
  //link(rel='stylesheet' type='text/css' media='screen' href='main.css')
  //link(rel='stylesheet' type='text/css' media='screen' href='quiz.css')
include login_buttons
#grid_container
  #root
    #header
      h1
        | Solve the quiz!
    #intro.clearfix
      h1
        | Quiz number 
        span#quiz_number
        | .
      h2
        | Best results: 
        span#no_results no results yet.
      ol#best_results
      button.quiz_button#startQuizButton(onclick='start()') Start!
      button.quiz_button(onclick='go_back()') Go back
    #solve_quiz.clearfix
      h1#quiz_description
      h2
        | Question number 
        span#question_number
        | . Penalty: 
        span#penalty
        | .
      h2#question
      h2
        label(for='answer') Answer:
        input#answer(type='number' name='answer')
      div
        button#next_button.quiz_button(onclick='next()') Next
        button#prev_button.quiz_button(onclick='prev()') Prev
        button#end_button.quiz_button(onclick='end()') End
    #results.clearfix
      ol#results_list
      div
        h2
          | Result: 
          span#result
          | .
      div
        button#save_result_button.quiz_button(onclick='save_only_result()') Save Only Result
        button#save_stats_button.quiz_button(onclick='save_with_stats()') Save With Stats
    #end
      footer
        p Autor: Wojciech Szyma&nacute;ski
  #side.nophone
    #clock
      h3
        | Timer:
        span#timer
    button.quiz_button(onclick='quit_quiz();') Quit Quiz
script(src='quiz.js')