doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Solve the quiz!
  meta(name='viewport' content='width=device-width, initial-scale=1')
  style
    include main.css
    include quiz.css
  //link(rel='stylesheet' type='text/css' media='screen' href='main.css')
  //link(rel='stylesheet' type='text/css' media='screen' href='index.css')
include login_buttons
#root
  #header
    h1
      | Solve the Quiz!
  #stats
    ol
      - let it1 = 0;
      while it1 < myResult.answers.length
        li(class=(myResult.answers[it1] == myQuiz.data[it1].answer ? "correct" : "wrong"))
          ="Question: " + myQuiz.data[it1].question
          br
          ="Your answer: " + myResult.answers[it1]
          br
          ="Correct answer: " + myQuiz.data[it1].answer
          br
          ="Average time (correct answers only): " + (averageTimes[it1] == 0 ? "No data" : (averageTimes[it1]/1000).toFixed(1) + "s")
        - it1++;
    h2 Your Total Score: 
      = myResult.result.toFixed(1)
    span Top users statistics:
      ol
        -let it2 = 0
        while it2 < bestStats.length
          li
            for x in bestStats[it2].stats
              =(x * 100).toFixed(1) + "%  "
          - it2++
        
  #back.clearfix
    a.quiz_button(href='/') Main menu
  #end
    footer
      p Autor: Wojciech Szyma&nacute;ski
